# Build folders
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/external/crow/CMakeFiles/
/external/crow/Makefile
*.o
*.d


# IDE and build/output folders
.vs/
out/
build/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.d

/code/backend/fitness.db

