# ==========================
# Email Service (Mailgun)
# ==========================

READ THIS PART
============================================================================================================= 
# For right now, add your email or any email you want to test as a verified recipient
# Paste the following Curl command into your terminal, replace the necessary fields with what I gave you
# You will get an email from mailgun which you need to accept
# When the project is deployed, we will change the domain and will no longer need to add verified recipients

# This is the command that you use to send a verification email (purely for testing)
# Once we have a real domain we won't need it anymore
curl -s --user "api:YOUR_MAILGUN_API_KEY" \
    -X PUT \
    https://api.mailgun.net/v3/YOUR_SANDBOX_DOMAIN/authorized/recipients/RECIPIENT_EMAIL/verify

=============================================================================================================



# Use "mock" during development (does NOT send real emails)
# Use "real" to actually send email through Mailgun API
EMAIL_MODE=real

# Mailgun API Key (from Mailgun dashboard → "API Keys")
EMAIL_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxx

# Mailgun domain (sandbox or custom domain)
# Example for sandbox:
#   sandbox1234567890.mailgun.org
EMAIL_DOMAIN=sandboxXXXXXXXXXXXXXXXXXXXXX.mailgun.org

# From address used in emails
EMAIL_FROM_ADDRESS=no-reply-WazuFit@sandboxXXXXXXXXXXXXXXXXXXX.mailgun.org

#Private api key for activating recipient validation
EMAIL_RECIPIENT_VALIDATION_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX


# ==========================
# Database
# ==========================

# Where your backend expects to find the fitness DB
FITNESS_DB_PATH=/app/code/backend/fitness.db

